@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-teal-green: #1E8484;
  --color-bright-green: #33C35C;
  --color-dark-green: #104747;
  --color-yellow: #EFCA0C;
  --color-light-yellow: #FAF2CD;
  --color-light-black:#DBD7D7


}

html,
body {
  @apply bg-white dark:bg-gray-950 font-sans font-light text-lg;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}


@layer components{
  .box{
    @apply max-w-[1245px] mx-auto
  }

  .heading-1 {
    @apply text-6xl font-thin mb-5
  }

   .heading-2 {
    @apply text-3xl font-thin mb-5
  }

  /* Hide scrollbar for Chrome, Safari */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Firefox */
  .no-scrollbar {
    scrollbar-width: none;
  }

  /* Hide scrollbar for IE & Edge */
  .no-scrollbar {
    -ms-overflow-style: none;
  }
}